.MyPageAddress {
  margin-left: 30px;
}

.address-wrap-content {
  width: 1000px;
}

.address-wrap-button {
  width: 200px;

  display: flex;
  justify-content: center;

  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 50px;
}

.address-wrap-button button {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  border: 1px solid var(--navy-color);
  border-radius: 10px;
  padding: 10px 0;
}

.address-content-null {
  margin-top: 50px;
  margin-left: 300px;
}

.additem-button {
  display: flex;
}

.additem-button button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.additem-button button:hover {
  background-color: var(--navy-color);
  color: white;
}

.default-addr {
  border-top: 2px solid gray;

  margin-top: 50px;
  padding-top: 50px;
  width: 800px;
}

@media (max-width: 1020px) {
  .MyPageAddress {
    margin-left: 0px;
  }

  .address-wrap-content {
    width: 880px;
  }

  .default-addr {
    margin-top: 30px;
    padding-top: 30px;

    width: 880px;
  }
}

@media (max-width: 750px) {
  .MyPageAddress {
    margin-left: 0px;
  }

  .address-wrap-content {
    width: 620px;
  }

  .address-wrap-button {
    width: 200px;

    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-left: 220px;
    margin-bottom: 50px;
  }

  .default-addr {
    margin-top: 30px;

    width: 620px;
  }
}
