.MyPageSide {
  display: flex;
  flex-direction: column;
  width: 300px;

  background-color: RGB(250, 250, 250);

  padding: 20px;
  border: 1px solid RGB(220, 220, 220);
  border-radius: 5px;
}

.side-item h2 {
  padding-top: 30px;
  border-top: 1px solid rgb(230, 230, 230);
  font-size: 16px;
  font-weight: bold;

  margin-bottom: 20px;
}

.noneBorder h2 {
  border: none;
}

.side-item div {
  margin-bottom: 20px;

  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
