.OrderList {
  margin-left: 30px;
}

.orderlist-wrap-title {
}

.orderlist-wrap-input {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  position: relative;
}

.orderlist-input {
  width: 500px;
}

.orderlist-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.orderlist-input input::placeholder {
  font-size: 14px;
  color: rgb(180, 180, 180);
}

.orderlist-wrap-icon {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-left: -80px;
  margin-top: 3px;
}

button {
  background-color: transparent;
  border: none;
}

.search-icon {
  color: var(--red-color);
  font-size: 19px;
}

.reset-icon {
  color: gray;
  opacity: 0.5;
}

.dum-icon {
  background-color: transparent;
  color: white;
}

.orderlist-wrap-list {
  margin-top: 30px;
}

.orderlist-content-null {
  margin-top: 100px;
  margin-left: 250px;
}

.select-wrap {
  outline: none;
  display: flex;
  justify-content: flex-end;

  align-items: center;
  position: absolute;
  right: 0;
}

.select-wrap label {
  font-weight: bold;
  margin-right: 15px;
}
